@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
body {
    font-family: 'Nunito Sans', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

Sidebar

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #262B40;
    color: #fff;
    /* position:fixed; */
    transition: all 0.3s;
    margin-left: 0; /* Keep the sidebar visible by default */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #262B40;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #262B40;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
}

#sidebar ul li a:hover {
    color: #262B40;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #262B40;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 15px !important;
    padding-left: 40px !important;
    background: #262B40;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 16px !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #262B40 !important;
    /* color: #fff !important; */
    border-color: #262B40;
    box-shadow: 0 0 10px 2px #262B40;
}

/* Content Styling */
.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* Notifications Styling */

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
.shake {
    display: inline-block; 
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
  }
  

  /* Responsive Implementation */

@media (max-width: 768px) {
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: inline-block;
    }
}
