{% extends 'coreapp/base.html' %}

{% block content %}

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
<main class="container">
    <h3 class="pb-4 mb-4 fst-italic border-bottom text-center text-primary">
        Steps
      </h3>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 1</strong>
              <h3 class="mb-1 text-primary">Adding Courses</h3>
              <ul>
              <li>Navigate to Courses Tab</li>
              <li>Add a new course(Bachelors) from the tab dropdown</li>
              <li>Enter course Name and Description</li>
            </ul>
          </div>
           
          </div>
        </div>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------         -->
      
<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 2</strong>
          <h3 class="mb-1 text-primary">Adding Units</h3>
          <ul>
            <li>Navigate to Units Tab</li>
            <li>Add new unit from the tab dropdown</li>
            <li>Enter unit Name and Description</li>
        </ul>
        </div>

      </div>
    </div>
    </div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    
     <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 3</strong>
              <h3 class="mb-1 text-primary">Adding Exams</h3>
              <ul>
                <li>Navigate to  Exams Tab</li>
                <li>Add a new exam from the dropdown </li>
                <li>Fill in the exam details as shown in the form</li>
            </ul>
            </div>
          
          </div>
        </div>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
        
<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 4</strong>
          <h3 class="mb-1 text-primary">Adding Professors</h3>
          <ul>
          <li>Navigate to Professors menu</li>
          <li>Add a new professor by clicking "Add"</li>
          <li>Enter Professor details required in the form</li>
        </ul>
        </div>

      </div>
    </div>
    </div>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 5</strong>
              <h3 class="mb-1 text-primary">Adding Students</h3>
                <ul>
                  <li>Navigate to Students menu</li>

            </div>

          </div>
        </div>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
       
<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 6</strong>
          <h3 class="mb-1 text-primary">Adding Parents</h3>
          <ul>
            <li>Navigate to Parents menu</li>

            </ul>
        </div> 
       
      </div>
    </div>
 
  </div>
 


</main>


{% endblock content%}