{% extends 'coreapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2 class="text-center">{{ table_title }}</h2>

    <!-- Disclaimer Section -->
    <div class="mt-4 alert alert-info">
        <i class="fas fa-exclamation-circle"></i>
        <strong>Disclaimer:</strong> The personal information collected will only be used as a means to contact the person reporting the case for more information.
    </div>

    <div class="content-section">

        <!-- Collapsible Form Section -->
        <div class="card mt-4">
            <div class="card-header" id="formHeading">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#formCollapse" aria-expanded="false" aria-controls="formCollapse">
                        Toggle Form
                    </button>
                </h5>
            </div>

            <div id="formCollapse" class="collapse" aria-labelledby="formHeading">
                <div class="card-body">
                    <form method="post", enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group mt-2">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="card border-light shadow-sm mt-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th class="border-0">#</th>
                                <th class="border-0">Traffic Source</th>
                                <th class="border-0">Source Type</th>
                                <th class="border-0">Category</th>
                                <th class="border-0">Global Rank</th>
                                <th class="border-0">Traffic Share</th>
                                <th class="border-0">Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Item -->
                            <tr>
                                <td class="border-0"><a href="#" class="text-primary font-weight-bold">1</a> </td>
                                <td class="border-0 font-weight-bold"><span class="icon icon-xs icon-gray w-30"><span class="fas fa-globe-europe"></span></span>Direct</td>
                                <td class="border-0">
                                    Direct
                                </td>
                                <td class="border-0">
                                    - 
                                </td>
                                <td class="border-0">
                                    --
                                </td>
                                <td class="border-0">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 col-xl-2 px-0">
                                            <div class="small font-weight-bold">51%</div>
                                        </div>
                                        <div class="col-12 col-xl-10 px-0 px-xl-1">
                                            <div class="progress progress-lg mb-0">
                                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100" style="width: 51%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-0 text-success">
                                    <span class="fas fa-angle-up"></span>                                   
                                    <span class="font-weight-bold">2.45%</span>
                                </td>
                            </tr>
                            <!-- End of Item -->
  
                            <!-- Item -->
                            <tr>
                                <td><a href="#" class="text-primary font-weight-bold">2</a> </td>
                                <td class="font-weight-bold"><span class="icon icon-xs icon-info w-30"><span class="fab fa-google"></span></span>Google Search</td>
                                <td>
                                    Search / Organic
                                </td>
                                <td>
                                    -
                                </td>
                                <td>
                                    --
                                </td>
                                <td>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 col-xl-2 px-0">
                                            <div class="small font-weight-bold">18%</div>
                                        </div>
                                        <div class="col-12 col-xl-10 px-0 px-xl-1">
                                            <div class="progress progress-lg mb-0">
                                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 18%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-success">
                                    <span class="fas fa-angle-up"></span>                                   
                                    <span class="font-weight-bold">17.67%</span>                             
                                </td>
                            </tr>
                            <!-- End of Item -->
  
                            <!-- Item -->
                            <tr>
                                <td><a href="#" class="text-primary font-weight-bold">3</a> </td>
                                <td class="font-weight-bold"><span class="icon icon-xs icon-danger w-30"><span class="fab fa-youtube"></span></span> youtube.com</td>
                                <td>
                                    Social
                                </td>
                                <td>
                                    <a class="small font-weight-bold" href="#">Arts and Entertainment</a>
                                </td>
                                <td>
                                    #2
                                </td>
                                <td>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 col-xl-2 px-0">
                                            <div class="small font-weight-bold">18%</div>
                                        </div>
                                        <div class="col-12 col-xl-10 px-0 px-xl-1">
                                            <div class="progress progress-lg mb-0">
                                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 18%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    -                                
                                </td>
                            </tr>
                            <!-- End of Item -->
  
                            <!-- Item -->
                            <tr>
                                <td><a href="#" class="text-primary font-weight-bold">4</a> </td>
                                <td class="font-weight-bold"><span class="icon icon-xs icon-purple w-30"><span class="fab fa-yahoo"></span></span> yahoo.com</td>
                                <td>
                                    Referral
                                </td>
                                <td>
                                    <a class="small font-weight-bold" href="#">News and Media</a>
                                </td>
                                <td>
                                    #11
                                </td>
                                <td>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 col-xl-2 px-0">
                                            <div class="small font-weight-bold">8%</div>
                                        </div>
                                        <div class="col-12 col-xl-10 px-0 px-xl-1">
                                            <div class="progress progress-lg mb-0">
                                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100" style="width: 8%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-danger">
                                    <span class="fas fa-angle-down"></span>                                   
                                    <span class="font-weight-bold">9.30%</span>                                 
                                </td>
                            </tr>
                            <!-- End of Item -->
  
                            <!-- Item -->
                            <tr>
                                <td><a href="#" class="text-primary font-weight-bold">5</a> </td>
                                <td class="font-weight-bold"><span class="icon icon-xs icon-info w-30"><span class="fab fa-twitter"></span></span> twitter.com</td>
                                <td>
                                    Social
                                </td>
                                <td>
                                    <a class="small font-weight-bold" href="#">Social Networks</a>
                                </td>
                                <td>
                                #4
                                </td>
                                <td>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 col-xl-2 px-0">
                                            <div class="small font-weight-bold">4%</div>
                                        </div>
                                        <div class="col-12 col-xl-10 px-0 px-xl-1">
                                            <div class="progress progress-lg mb-0">
                                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" style="width: 4%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    -                                
                                </td>
                            </tr>
                            <!-- End of Item -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
